<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="/static/estilo.css">


</head>
<body>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}
    <div class="atletaseSports-card">
      <div class="page-header">
          <h1>{{ Titulo }}</h1>
      </div>
      <form action="/criar" method="post">
        <fieldset>
            <p></p>

          <div class="form-group">
            <label for="nome">Nome </label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
            <p></p>

          <div class="form-group">
            <label for="jogo">Jogo </label>
            <select id="jogo" name="jogo" class="form-control">
                <option>LOL</option>
                <option>Free Fire</option>
                <option>Call of Duty</option>
                <option>Clash Royale</option>
                <option>Valorant</option>
            </select>
          </div>
            <p></p>

          <div class="form-group">
            <label for=funcao >Função </label>
            <select id="funcao" name="funcao" class="form-control">
                <option>Treinador</option>
                <option>Jogador</option>
                <option>Analista</option>
                <option>Designer</option>
                <option>Manager</option>
            </select>
          </div>
            <p></p>

          <div class="form-group">
            <label for="ranking">Ranking </label>
            <select id="ranking" name="ranking" class="form-control">
                <option>Bronze</option>
                <option>Prata</option>
                <option>Ouro</option>
                <option>Platina</option>
                <option>Diamante</option>
            </select>
          </div>
          <p></p>


          <button type="submit" name = "salvar" class="btn-salvar"> Salvar </button>
          <button type="submit" name = "deslogar" class="btn-salvar"> Deslogar </button>
        </fieldset>
      </form>
    </div>
</body>
</html>