<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
      <div class="atletaseSports-card">
          <div class="page-header">
              <h1>{{ Titulo }}</h1>
          </div>
      <form action='/alterar' method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome </label>
            <input type="text" id="nome" name="nome" class="form-control" value = {{ atletas.nome}}>
          </div>

          <div class="form-group">
            <label for="jogo">Jogo </label>
            <select id="jogo" name="jogo" class="form-control" value = {{ atletas.jogo}}>
                <option>LOL</option>
                <option>Free Fire</option>
                <option>Call of Duty</option>
                <option>Clash Royale</option>
                <option>Valorant</option>
            </select>
          </div>

          <div class="form-group">
            <label for="funcao">Função</label>
            <select id="funcao" name="funcao" class="form-control" value = {{ atletas.funcao }}>
                <option>Treinador</option>
                <option>Jogador</option>
                <option>Analista</option>
                <option>Designer</option>
                <option>Manager</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ranking">Ranking </label>
            <select id="ranking" name="ranking" class="form-control" value = {{ atletas.ranking}}>
                <option>Bronze</option>
                <option>Prata</option>
                <option>Ouro</option>
                <option>Platina</option>
                <option>Diamante</option>
            </select>
          </div>



          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
    </div>
</body>
</html>